.switch__container {
    margin: 30px auto;
    width: 120px;
  }
  
  .switch {
    visibility: hidden;
    position: absolute;
    margin-left: -9999px;
  }
  
  .switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
  .on-off-dot {
    border: 2px solid #CCC5B9;
}
  .switch--flat+label {
    padding: 2px;
    width: 40px;
    height: 25px;
    border-radius: 60px;
    transition: background 0.4s;
  }
  
  .switch--flat+label:before,
  .switch--flat+label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  .switch--flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 60px;
    transition: background 0.4s;
  }
  
  .switch--flat+label:after {
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 12px;
    /* background-color: #dddddd; */
    border: 2px solid #CCC5B9;
    border-radius: 52px;
    transition: margin 0.4s, background 0.4s;
  }
  
  .switch--flat:checked+label {
    border: 2px solid #403D39;
  }
  
  
  .switch--flat:checked+label:after {
    margin-left: 15px;
    background-color: #403D39;
    border: 2px solid #403D39;
  
  }