  .container-fluid {
    width: 100%;
    max-width: 63%;
    margin: auto;
    font-family: Arial;
    background-color: #fff;
    padding: 20px !important;
  }
  .privay-policy {
    background-color: rgb(235,94,40);
    padding-top: 100px;
  }
  .content {
    margin: 0px 0;
  }
  p {
    margin: 0;
  }
  hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}
 a {
    color: rgb(43, 135, 208) !important;
    text-decoration: none !important;
}
  .orange
  {
    color: rgb(235,94,40) !important;
    text-decoration: underline;
  }
  .main-title {
    font-size: 40px;
    color: #000000;
    font-weight: bold;
    text-align: center;
  }
  .sub-title {
    color: #595959;
    font-size: 14px;
    margin: 10px 0 30px;
    text-align: center;
  }
  ul {
    list-style-type: disc;
  }
  a
  {
    color:#2B87D0;
    text-decoration:none;
  }
  li {
    margin: 10px 0;
  }
  .text-color {
    color: #000;
  }
  .summary {
    margin: 20px 0;
  }
  .heading_1 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
  }
  .heading_2 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
  }
  .fs-14 {
    font-size: 16px;
  }
  #table-contents {
    margin: 40px 0;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
  }
  table,
  td,
  th {
    border: 1px solid;
    color: #595959;
    font-size: 16px;
  }
  td {
    padding: 10px 5px;
  }
  td:last-child,
  th:last-child {
    text-align: center;
    width: 10%;
  }
  